.list-item-container{
    margin-top: 5%;
}
.item{
    margin-bottom: 5%;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
}
.title{
    margin-top: 3%;
    width: 100%;
    height: 50px;
}
.list-pics{
    height: 207px;
    max-width: 300px;
    overflow: hidden;
    border-radius: 7%;
}
.article-category{
    margin-top: 10px;
}
.list-wrapper{
    margin-left: 20%;
}
@media screen and (max-width: 768px) and (min-width: 0px){
    .list-item-container{
        margin-top: 10%;
    }
    .item img{
        height: 250px;
    }
    .list-wrapper{
        margin-left: 0px;
    }
}
@media screen and (max-width: 992px) and (min-width: 768px){

}