body{
    background-color: #000; 
}

.body_class{
    background-color: blue;    
}

.mask{
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    background-color: #000; 
    opacity: 0.4;
    overflow-y: hidden;
}

.loading{
    display : none;
    position : fixed;
    z-index: 9999;
    /*background-image : url('http://loadinggif.com/images/image-selection/3.gif');*/
    background-image : url('/image/box.gif');
    /*opacity : 1;*/
    background-repeat : no-repeat;
    background-position : center;
    left : 0;
    bottom : 0;
    right : 0;
    top : 0;
}

/*author_side_bar-start*/
.author{
    background-color: #ebe8e1;
    height: 100vh;
    position: fixed;
    width: 20%;
}
#profile-pic{
    width: 100px;
    border-radius: 50%;
    position: absolute;
    margin: auto;
    top: -500px;
    left: 0;
    right: 0;
    bottom: 0;
}
#author-description{
    position: absolute;
    margin: auto;
    top: -280px;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    padding: 10px 10px 0px 10px;
    height: 10%;
}
.category-wrapper{
    position: absolute;
    margin: auto;
    top: -170px;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    padding: 10px 10px 10px 10px;
    height: 10%;
}
.category{
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    padding: 10px 10px 10px 10px;
    height: 8%;
    width: 78%;
    background: #e1d8c1;
    list-style: none;
    margin: 10px 0 10px 0;
    display: inline-block;
    color: #8f8671;
}
.category:hover{
    background: #bcb39d;
    color: white;
    font-weight: bold;
}
.selected-category{
    background: #bcb39d;
}
.category-name-selected{
    /*color: white;*/
    font-weight: bold;
}
/*author_side_bar-end*/

.center {
    margin: auto;
    margin-top: 4px;
    margin-bottom: 4px;
    width: 99%;
    padding: 10px;
    background: whitesmoke;

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.hide{
    display: none;
}

/*media query should be located AFTER regular CSS*/
@media screen and (max-width: 768px) and (min-width: 0px) {
    .navbar{
        position: absolute;
    }
    .author{
        position: relative ;
        width: 100% ;
    }
}

@media screen and (max-width: 991px) and (min-width: 0px) {
    
    body{
        max-width: 100%;
        overflow-x: hidden;
    }   
}

@media screen and (max-width: 640px) and (min-width: 0px) {
    .navbar{
        position: absolute;
    }
    .author{
        position: relative ;
        width: 100% ;
        margin-top: 100px;
    }
}