body{
    background-color: #f1f1f1;
}

/*author_side_bar-start*/
.author{
    background-color: #ebe8e1;
    height: 100vh;
    position: fixed;
    width: 20%;
}
#profile-pic{
    width: 100px;
    border-radius: 50%;
    position: absolute;
    margin: auto;
    top: -500px;
    left: 0;
    right: 0;
    bottom: 0;
}
#author-description{
    position: absolute;
    margin: auto;
    top: -280px;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    padding: 10px 10px 0px 10px;
    height: 10%;
}
.category-wrapper{
    position: absolute;
    margin: auto;
    top: -170px;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    padding: 10px 10px 10px 10px;
    height: 10%;
}
.category{
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    padding: 10px 10px 10px 10px;
    height: 8%;
    width: 78%;
    background: #e1d8c1;
    list-style: none;
    margin: 10px 0 10px 0;
    display: inline-block;
    color: #8f8671;
}
.category:hover{
    background: #bcb39d;
}
.selected-category{
    background: #bcb39d;
}
.category-name-selected{
    color: white;
    font-weight: bold;
}
/*author_side_bar-end*/

/*media query should be located AFTER regular CSS*/
@media screen and (max-width: 768px) and (min-width: 0px) {
    .navbar{
        position: absolute;
    }
    .author{
        position: relative ;
        width: 100% ;
    }
}